<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GraduateDemo</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.demo.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/com/demo/controller/DetailServlet</url-pattern>
    <url-pattern>/com/demo/controller/DownLoadServlet</url-pattern>
    <url-pattern>/com/demo/controller/CommentServlet</url-pattern>
    <url-pattern>/com/demo/controller/DelComServlet</url-pattern>
    <url-pattern>/com/demo/controller/MysourceServlet</url-pattern>
    <url-pattern>/com/demo/controller/SelfinfoServlet</url-pattern>
    <url-pattern>/com/demo/controller/UpdateinfoServlet</url-pattern>
    <url-pattern>/com/demo/controller/ChangePwdServlet</url-pattern>
    <url-pattern>/com/demo/controller/DeleteServlet</url-pattern>
    <url-pattern>/com/demo/controller/UploadServlet</url-pattern>
    <url-pattern>/com/demo/controller/SelectcomServlet</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AdloginFilter</filter-name>
    <filter-class>com.demo.filter.AdloginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdloginFilter</filter-name>
    <url-pattern>/com/demo/controller/SeluserServlet</url-pattern>
    <url-pattern>/com/demo/controller/SelsouServlet</url-pattern>
    <url-pattern>/com/demo/controller/SelcomServlet</url-pattern>
    <url-pattern>/com/demo/controller/McomServlet</url-pattern>
    <url-pattern>/com/demo/controller/MsourceServlet</url-pattern>
    <url-pattern>/com/demo/controller/MuserServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.demo.controller.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/com/demo/controller/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectcomServlet</servlet-name>
    <servlet-class>com.demo.controller.SelectcomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectcomServlet</servlet-name>
    <url-pattern>/com/demo/controller/SelectcomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.demo.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/com/demo/controller/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.demo.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/com/demo/controller/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelfinfoServlet</servlet-name>
    <servlet-class>com.demo.controller.SelfinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfinfoServlet</servlet-name>
    <url-pattern>/com/demo/controller/SelfinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateinfoServlet</servlet-name>
    <servlet-class>com.demo.controller.UpdateinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateinfoServlet</servlet-name>
    <url-pattern>/com/demo/controller/UpdateinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.demo.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/com/demo/controller/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectmainServlet</servlet-name>
    <servlet-class>com.demo.controller.SelectmainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectmainServlet</servlet-name>
    <url-pattern>/com/demo/controller/SelectmainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.demo.controller.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/com/demo/controller/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectbysortServlet</servlet-name>
    <servlet-class>com.demo.controller.SelectbysortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectbysortServlet</servlet-name>
    <url-pattern>/com/demo/controller/SelectbysortServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MysourceServlet</servlet-name>
    <servlet-class>com.demo.controller.MysourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MysourceServlet</servlet-name>
    <url-pattern>/com/demo/controller/MysourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.demo.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/com/demo/controller/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.demo.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/com/demo/controller/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.demo.controller.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/com/demo/controller/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelcomServlet</servlet-name>
    <servlet-class>com.demo.controller.DelcomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelcomServlet</servlet-name>
    <url-pattern>/com/demo/controller/DelcomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeluserServlet</servlet-name>
    <servlet-class>com.demo.controller.SeluserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeluserServlet</servlet-name>
    <url-pattern>/com/demo/controller/SeluserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelsouServlet</servlet-name>
    <servlet-class>com.demo.controller.SelsouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelsouServlet</servlet-name>
    <url-pattern>/com/demo/controller/SelsouServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelcomServlet</servlet-name>
    <servlet-class>com.demo.controller.SelcomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelcomServlet</servlet-name>
    <url-pattern>/com/demo/controller/SelcomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MuserServlet</servlet-name>
    <servlet-class>com.demo.controller.MuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MuserServlet</servlet-name>
    <url-pattern>/com/demo/controller/MuserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MsourceServlet</servlet-name>
    <servlet-class>com.demo.controller.MsourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsourceServlet</servlet-name>
    <url-pattern>/com/demo/controller/MsourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>McomServlet</servlet-name>
    <servlet-class>com.demo.controller.McomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>McomServlet</servlet-name>
    <url-pattern>/com/demo/controller/McomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChecknameServlet</servlet-name>
    <servlet-class>com.demo.controller.ChecknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChecknameServlet</servlet-name>
    <url-pattern>/com/demo/controller/ChecknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>com.demo.controller.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/com/demo/controller/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdloginServlet</servlet-name>
    <servlet-class>com.demo.controller.AdloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdloginServlet</servlet-name>
    <url-pattern>/com/demo/controller/AdloginServlet</url-pattern>
  </servlet-mapping>
</web-app>